@if (User.Identity.IsAuthenticated)
{
    <div class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="http://localhost:5000/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:5000/Account/Register">Register</a></li>
        <li><a href="http://localhost:5000/Manage/Login">Log in</a></li>
    </ul>
}
